
<!-- Content Section
    ================================================== -->

      <% if current_user %>
        <h2> List of all Surveys</h2>
      <ol>
        <% @surveys.each do |survey| %>
          <a href="/surveys/<%= survey.id %>"><li><%= survey.title %></li></a>
        <%end %>
      </ol>
      <br>
      <br>
      <br>
        <p><a href="/surveys/new"> Create a New Survey </a></p>
      <a href="/logout">Logout</a>

      <% else %>
      <h1> Why don't you join us</h1>
        <a href="/users/new">Create New User</a>
      <%end%>

<!-- Content Footer
    ================================================== -->




