
<!-- Content Section
    ================================================== -->

<% if current_user %>
<h1> List your Surveys</h1>
  <div class="survey_cont">
    <ol>
      <% @surveys.each do |survey| %>
        <% if session[:user_id] == survey.user_id%>
          <a href="/surveys/<%= survey.id %>"><li><%= survey.title %></li></a>
        <%end %>
      <%end%>
    </ol>
  <p id="create_survey"><a href="/surveys/new"> Create a New Survey </a></p>
  </div>
<%end%>

<% if current_user %>
  <h1> List of all Surveys</h1>
  <div class="survey_cont">
    <ol>
      <% @surveys.each do |survey| %>
        <a href="/surveys/<%= survey.id %>/form"><li><%= survey.title %></li></a>
      <%end %>
    </ol>
  </div>
<% else %>
  <h1> Create surveys and see their results</h1>
    <a href="/users/new">Start today</a>
<%end%>








