<H1>Create a new Survey!</H1>

<form name="survey_params" action="/surveys/new" method="post">
  <input type="text" name="title" placeholder="Title here"></input>
  <button type="submit"> Submit</button>
</form>
