<div class="survey_cont">
<h1><%="#{@survey.title} Results"%></h1>

<ol>
<% @questions.each do |question| %>
  <li class="survey_results_title"><strong><%= question.content %></strong></li>
  <ul>
    <% question.choices.each do |choice| %>
      <li id="survey_result_item"><%= "#{choice.choice_content} - #{choice.choice_users.count} votes" %></li>
    <% end %>
  </ul>
<% end %>
</ol>
</div>
