<h2>Create your Spirit Survey Account</h2>
<br>
<form action="/users/new" method="post">

  <input type="email" name="user[email]" placeholder="email">
  <input type="text" name="user[name]" placeholder="Your Name">
  <input type="password" name="user[password]" placeholder="Enter Password">
  <input type="submit" value="sign in">

</form>

