<h1>Sign Up</h1>

<form action="/users/new" method="post">
  <input class="sign_up" type="text" name="user[email]" placeholder="email">
  <input class="sign_up" type="text" name="user[name]" placeholder="Your Name">
  <input class="sign_up" type="password" name="user[password]" placeholder="Enter Password">
  <input id="sign_up_submit" type="submit" value="Create Account">
</form>

